
 h1{
  
 }

 .title-heidegger{
  text-align: center;
 }

 .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .heidegger-image{
  width: 350px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  }
