.avatar-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -31vh;
  margin-left: -2.8vw;
}

.avatar-heidegger,
.avatar-niet,
.avatar-junger{
  width: 15vw;
  border-radius: 50%;
}

.avatar-heidegger:hover,
.avatar-niet:hover,
.avatar-junger:hover{
  opacity: 0.7;
}

.avatar-niet{
  margin-top: -16vh;

}

.avatar-junger{
  margin-left: 33vw;
  margin-top: -10vh;
  position: relative;
}

