.avatar-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -31vh;
  margin-left: -2.8vw;
}

.avatar-heidegger, .avatar-niet{
  width: 15vw;
  border-radius: 50%;
}

.avatar-heidegger:hover, .avatar-niet:hover{
  opacity: 0.7;
}

.avatar-container-niet{
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items:end;
  margin-top: -20vh;
  margin-right:-2.8vw;
}
