.avatar-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -31vh;
  margin-left: -2.8vw;
}

.avatar-heidegger{
  width: 15vw;
  border-radius: 50%;
}

.avatar-heidegger:hover{
  opacity: 0.7;
}
