.banner-junger{
  background: linear-gradient(45deg, #3a86ff, #ff006e, #fb5607 );
  width: 80vw;
  height: 120vh;
  margin-top: -20vh;
}

.container-junger{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.title-junger{
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(249, 244, 244);
  font-size: 6em;
  margin-left: 4vw;
  margin-top: 10vh;
}

@media screen and (max-width: 1360px){
  .title-junger{
    font-size: 4em;
  }
}

.text-image-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top:-10vh;
}

.image-back-junger{
  width: 40vw;
  margin-left: -23vw;
  margin-top: -1vh;
  border-radius: 10px;
}

.text-junger{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: -85vh;
  font-size: 1em;
}

.quote-junger{
  font-size: 3em;
  margin-left: 4vw;
  width: 30vw;
  text-align: center;
}

@media screen and (max-width: 1360px){
  .quote-junger{
    font-size: 2em;
  }
}
